CSLSite/Service References/TurnosSAV/web_service35.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_Preadvise" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_Preadvise" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="turno">
    <xs:sequence>
      <xs:element minOccurs="0" name="cancelado_el" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cancelado_motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cancelado_por" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chofer" nillable="true" type="tns:chofer" />
      <xs:element minOccurs="0" name="creado_el" type="xs:dateTime" />
      <xs:element minOccurs="0" name="creado_por" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deposito" nillable="true" type="tns:deposito" />
      <xs:element minOccurs="0" name="documento" nillable="true" type="tns:documento" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="turno_dia" type="xs:int" />
      <xs:element minOccurs="0" name="turno_numero" type="xs:int" />
      <xs:element minOccurs="0" name="turno_semana" type="xs:int" />
      <xs:element minOccurs="0" name="unidad" nillable="true" type="tns:unidad" />
      <xs:element minOccurs="0" name="vehiculo" nillable="true" type="tns:vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="turno" nillable="true" type="tns:turno" />
  <xs:complexType name="chofer">
    <xs:sequence>
      <xs:element minOccurs="0" name="licencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="chofer" nillable="true" type="tns:chofer" />
  <xs:complexType name="deposito">
    <xs:sequence>
      <xs:element minOccurs="0" name="creado_el" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deposito" nillable="true" type="tns:deposito" />
  <xs:complexType name="documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="creado_el" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="documento" nillable="true" type="tns:documento" />
  <xs:complexType name="unidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="dae" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estatus_unidad" type="tns:unidad.estatus" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_asignacion" type="xs:long" />
      <xs:element minOccurs="0" name="key" type="xs:long" />
      <xs:element minOccurs="0" name="linea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name_asume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruc_asume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruc_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tamano" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="unidad" nillable="true" type="tns:unidad" />
  <xs:simpleType name="unidad.estatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lleno" />
      <xs:enumeration value="vacio" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="unidad.estatus" nillable="true" type="tns:unidad.estatus" />
  <xs:complexType name="vehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vehiculo" nillable="true" type="tns:vehiculo" />
  <xs:complexType name="token">
    <xs:sequence>
      <xs:element minOccurs="0" name="creado_el" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valido_hasta" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="token" nillable="true" type="tns:token" />
  <xs:complexType name="respuesta_metodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="mensaje_principal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje_secundario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="que_hacer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="respuesta_metodo" nillable="true" type="tns:respuesta_metodo" />
  <xs:complexType name="ArrayOfturno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="turno" nillable="true" type="tns:turno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfturno" nillable="true" type="tns:ArrayOfturno" />
  <xs:complexType name="ArrayOfchofer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="chofer" nillable="true" type="tns:chofer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfchofer" nillable="true" type="tns:ArrayOfchofer" />
  <xs:complexType name="ArrayOfvehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vehiculo" nillable="true" type="tns:vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvehiculo" nillable="true" type="tns:ArrayOfvehiculo" />
  <xs:complexType name="TestClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="numero" type="xs:int" />
      <xs:element minOccurs="0" name="saludo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestClass" nillable="true" type="tns:TestClass" />
</xs:schema>